<header class="site-header" role="banner">
    <figure class="o-logo">
      <a href="/" class="c-logo-link" >
        <img src="/img/newlogo.png" class="c-logo-image" alt="logo" />
      </a>
    </figure>
  <nav class="o-site-nav">
    <ul class="c-nav-links" >
      {{ if eq .Permalink .Site.BaseURL }}
        <li class="active">
          <a class="c-nav-link active" href="/">Home</a>
        </li>
      {{ else }}
        <li><a class="c-nav-link" href="/">Home</a></li>
      {{ end }}
    {{ range .Site.Sections.page }}
      {{ if eq .Permalink $.Permalink }}
        <li class="active">
          <a href="{{ .Permalink }}" class= "c-nav-link active">
            {{- .Title -}}
          </a>
        </li>
      {{ else }}
        <li class="">
          <a href="{{ .Permalink }}" class= "c-nav-link">
            {{- .Title -}}
          </a>
        </li>
      {{ end }}
    {{ end }}
    </ul>
  </nav>
</header>
