{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
  <ul class="pager main-pager">
    {{ if ne .Paginator.First.PageNumber .Paginator.PageNumber }}
      <li class="first active">
    {{ else }}
      <li class="first inactive">
    {{ end }}
        <a href="{{ .URL }}page/{{ .Paginator.First.PageNumber }}">First
        </a>
      </li>
    {{ if .Paginator.HasPrev }}
      <li class="previous">
        <a href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}">&larr; {{ "Previous Page" }}</a>
      </li>
    {{ else }}
      <li class="previous inactive">
        <a href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}">&larr; {{ "Previous Page" }}</a>
      </li>
    {{ end }}
    {{ $currentPageNum := .Paginator.PageNumber }}
    <ul class="page-numbers">
    {{ range .Paginator.Pagers }}
        <li class="page-number {{ if eq $currentPageNum .PageNumber }}inactive{{ end }}">
          <a href="{{ .URL }}">{{ .PageNumber }}</a>
        </li>
    {{ end }}
  </ul>
    {{ if .Paginator.HasNext }}
      <li class="next">
        <a href="{{ .URL }}page/{{ .Paginator.Next.PageNumber }}">{{ "Next Page" }} &rarr;</a>
      </li>
    {{ end }}
    {{ if ne .Paginator.Last.PageNumber .Paginator.PageNumber }}
    <li class="last">
      <a href="{{ .URL }}page/{{ .Paginator.Last.PageNumber }}">Last
      </a>
    </li>
    {{ end }}
  </ul>
{{ end }}
