.site-header {
  border-bottom: 5px solid $color-brand;
  text-align: center;
}

.site-nav {

}

.o-logo {

}
//
a.c-logo-link {
  display: block;
  margin: 10px auto;
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: middle;

}

.c-logo-image {
  width: 100%;
  height: 100%;
}

.o-site-nav {
  margin: 20px;
  a {
    padding: 10px 20px;
  }
}

ul.c-nav-links {
  padding: 0;
  li {
    display: inline-block;
    background: $color-yellow-light;
    text-align: center;
    border-radius: 3px;
    font-size: 100%;
    font-weight: 700;
    font-family: $font-family-heading-webfont;
    margin: auto 5px;
    &:hover, &.current {
      background: $color-brand;
      a {
        color: $color-yellow-light;
      }
    }
    &:active {
      background: $color-teal-dark;
    }
    cursor: pointer;
  }
}
a.c-nav-link {
  display: inline-block;
  text-decoration: none;
  color: $color-brand;
  &:hover {
    text-decoration: none;
    border: none;
    color: $color-yellow-light;
  }

}
