.o-post-preview {
  border-top: 1px solid $color-teal-light;
  padding-bottom: 10px;
}

.c-post-meta {
  padding-bottom: 10px;
}
.c-post-title {
  margin-bottom: .4em;
}
.c-tag-list {
  li {
    display: inline-block;
  }
}

.c-meta-tags {
  justify-self: end;
}
.c-meta-date {
  justify-self: end;
}

.c-post-meta {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-gap: 10px;
  list-style: none;
  > li {
    display: block;
  }
}
