.o-post-preview {
  border-top: 1px solid $color-teal-light;
  padding-bottom: 10px;
}

.c-post-meta {
  padding-bottom: 10px;
}
.c-tag-list {
  li {
    display: inline-block;
  }
}

.c-post-meta {
  li {
    display: inline-block;
  }
}
