
.site-main {   
  margin: 0 auto;
  max-width: 38em;
  padding: 3vw;
}


@include respond-to($break-point-large) {
  .site-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 256px auto 256px;
    grid-template-areas: "header header" "main aside" "footer footer";
  }
  .site-main {   
    padding: 50px;
    grid-area: main;
  }
  .site-header {
    grid-area: header;
  }
  
  .side-bar {
    grid-area: aside;
  }
  
  .site-footer {
    grid-area: footer;
  }
}


