$color-teal-dark: #011;
$color-teal-light: #bcc;
$color-teal-lighter: #bff;
$color-red-light: #fcd;
$color-yellow-light: #ffc;
$color-orange-light: #ea8;
$color-pink-light:  #f04;
$color-white-default: #fff;
$color-green-light: #cf9;
