<header class="site-header" role="banner">
    <div class="site-logo">
      <figure class="o-logo">
        <a href="/" class="c-logo-link" >
          <img src="/img/site_logo.svg" class="c-logo-image" alt="logo" title="Brand Icon"/>
        </a>
      </figure>
      <a href="/">
        {{ if .IsHome }}
        <h1 id="site-title" class="site-title">{{ $.Site.Title }}</h1>
        {{ else }}
        <h2 id="site-title" class="site-title">{{ $.Site.Title }}</h2>
        {{ end }}
      </a>
    </div>
    <nav class="o-site-nav">    
      <ul class="c-flat-list" >
          {{ range .Site.Menus.main }}
          <li class="">
            <a href="{{ .URL }}">
              {{- .Name -}}
            </a>
          </li>
          {{ end }}
          <li><a href="{{ "index.xml" | absLangURL }}" class="c-nav-link">
            <img style="vertical-align: middle" class="rss_feed" title="RSS feed" src="/images/rss-box.svg" alt="rss feed logo" /></a>
          </li>
      </ul>
    </nav>
</header>
