{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
  <ul class="c-flat-list">
    {{ if ne .Paginator.First.PageNumber .Paginator.PageNumber }}
      <li class="first">
        <a href="{{ .RelPermalink }}page/{{ .Paginator.First.PageNumber }}">First
        </a>
      </li>
    {{ else }}
      <li class="first">First
        <!--a class="inactive" disabled href="#">First</a-->
      </li>
    {{ end }}
    {{ if .Paginator.HasPrev }}
      <li class="previous">
        <a href="{{ .RelPermalink }}page/{{ .Paginator.Prev.PageNumber }}">Previous</a>
      </li>
    {{ else }}
      <li class="previous">Previous
        <!--a class="inactive" disabled href="#"> {{ "Previous" }}</a-->
      </li>
    {{ end }}
    {{ $currentPageNum := .Paginator.PageNumber }}

    {{ if .Paginator.HasNext }}
      <li class="next">
        <a href="{{ .RelPermalink }}page/{{ .Paginator.Next.PageNumber }}">Next</a>
      </li>
    {{ else }}
      <li class="next"><!--a disabled class="inactive" href="#">{{ "Next" }}</a-->Next</li>
    {{ end }}
    {{ if ne .Paginator.Last.PageNumber .Paginator.PageNumber }}
      <li class="last">
        <a  href="{{ .RelPermalink }}page/{{ .Paginator.Last.PageNumber }}">Last</a>
      </li>
    {{ else }}
      <li class="last"><!--a disabled class="inactive" href="#">Last </a-->Last</li>
    {{ end }}
  </ul>
{{ end }}
