.side-bar {
  padding: 10px;
  background: #112;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}


#sidebar-share{
  display: none;
  @include respond-to($break-point-large) { 
    display: block;   
    position: sticky;
    top: 0;
  }
}