* {
  box-sizing: border-box;

  &::selection {
    background-color: $color-red-light;
    color: $color-teal-dark;
  }
}

html {
  font-family: $font-family-body-default;
  height: 100%;
  background-color: $color-violet-dark;
  color: $color-text;
  font-size: 18px;

  &.wf-active {
    font-family: $font-family-body-webfont;
  }
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

@media (min-width: 40em) {


h1 {
  font-size: 2.5em;
  line-height: 1.2em;
}

h2 {
  font-size: 2em;
  line-height: 1.1em;
}
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-heading-default;
  font-weight: 700;
  .wf-active & {
    font-family: $font-family-heading-webfont;
    font-weight: 700;
  }
}

a {
  &, h1,h2,h3,h4,h6,h5 {
    color: $color-orange-light;
    text-decoration: none;
  }
  &:visited {
    &, h1,h2,h3,h4,h6,h5 & {
      color: $color-green-light;
    }
  }
  &:hover{
    &, h1,h2,h3,h4,h5,h6 & {
      //border-bottom: 1px solid $color-yellow-light;
      color: $color-red-light;
    }
  }
}

p {
  margin: 0;
  margin-top: 1em;
  line-height: 1.6em;
}


ul {
  margin: 0;
}

body {
  margin: 0;
  border: 0;
  border-top: 10px solid $color-brand;
}

input:not([type=submit]):not([type=file]) {
  width: 100%;
  border-radius: 3px;
  padding: 5px;
  font-size: large;
  border: none;
  margin-top: 5px;
}

input[type="submit"]{
  border: none;
  font-size: 120%;
  border-radius: 3px;
  width: 100%;
  padding: 5px;
  margin-top: 20px;
  background: $color-yellow-light;
  color: $color-pink-light;
  font-family: "acuta",Georgia,Times,Serif;
  font-weight: 700;
  cursor: pointer;
}
