a {
  & { //, h1,h2,h3,h4,h6,h5 {
    color: $color-link;
    text-decoration: underline;
  }

  &:hover{
    & {
      text-decoration: none;
      cursor: pointer;
    }
  }

  &.inactive {
    color: black;
    text-decoration: none;
  }
}
