a {
  &, h1,h2,h3,h4,h6,h5 {
    color: $color-link;
    text-decoration: none;
  }
  &:visited {
    &, h1,h2,h3,h4,h6,h5 & {
      color: $color-link-visited;
    }
  }
  &:hover{
    &, h1,h2,h3,h4,h5,h6 & {
      //border-bottom: 1px solid $color-yellow-light;
      color: $color-link-hover;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
